<header>
  <div routerLink="/dashboard" class="logo" routerLink="/">
    <img src="../../../assets/images/logo-white.png" alt="logo-white" />

    <h1>BookWorm</h1>
  </div>
  <div class="author-search">
    <div *ngIf="auth.loggedIn">Welcome to Bookworm - {{auth.userProfile$.source._value.given_name}}</div>
    <div class="auth-button" *ngIf="!auth.loggedIn">
      <a  (click)="handleLoginClick()">Login</a>
  
    </div>
    <div class="auth-button" *ngIf="auth.loggedIn" >
        <a  (click)="handleLogoutClick()">Logout</a> 
    </div>

    <div class="search">
      <app-search-bar
        placeholder="Type an author to search"
        (handleSearch)="searchAuthor($event)"
      ></app-search-bar>
    </div>
    <div *ngIf="auth.loggedIn"
      class="qa-click fa-wrap"
      routerLinkActive="active"
      routerLink="/favourites"
    >
      <fa-icon [icon]="faHeart" class="qa-icon"></fa-icon>
    </div>
  </div>
</header>
