@import "../../variables.scss";

.panel {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    text-align: center;
    font-size: 1.15rem;
    color: $faded-text;
    padding: $base-spacing * 2 $base-spacing * 4;
    border: 2px lightgray solid;
    border-top: none;
    height: 40px;

    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }

  div {
    padding: 0 $base-spacing * 4;
    min-height: calc(100% - 100px);
    max-height: 100%;
    background-color: white;

    &.hide {
      display: none;
    }

    input {
      padding: 0.5em;
      padding-left: 1em;
      border-radius: 0 $border-rounding 0 $border-rounding;
      border: solid 1px lightgray;
      background-color: $off-white;
      margin-bottom: $base-spacing * 2;
      width: 100%;
      font-size: 1rem;

      &:focus {
        color: $secondary-color;
        outline: none;
      }
    }

    .filter {
      margin: $base-spacing * 2 0;
      width: 100%;
      min-height: 80px;
    }

    .dropdown {
      margin-top: $base-spacing * 6;
    }

    button {
      font-size: 1rem;
      font-weight: bold;
      color: $faded-text;
      margin-bottom: $base-spacing * 3;
      background-color: transparent;
      border: none;
      width: 100%;
      text-align: center;

      &.reset {
        text-align: center;

        &:hover {
          color: $primary-color;
          cursor: pointer;
        }
      }
    }
  }

  .blocker {
    background-color: $off-white;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
  }
}

@media only screen and (min-width: 600px) {
  .panel {
    right: unset;
    width: 265px;
    border-right: solid lightgray 2px;
    min-height: calc(100% - 60px);

    h2 {
      text-align: left;
      border: none;

      &:hover {
        cursor: unset;
        color: unset;
      }
    }

    h2 {
      color: black;
    }

    div {
      &.hide {
        display: unset;
      }
    }
  }
}
